<nav class="navbar navbar-expand-lg navbar-dark bg-custom1 shadow">
    <a class="bg-custom1 text-light p-1 mr-3" style="text-decoration: none;" routerLink=""><img src="../../assets/images/icons/62863-books-icon.png" width="30px" alt=""> HOME</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-end" id="navbarNavAltMarkup">
        <div *ngIf="isLogin()" class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="text-light bg-custom1 p-1 mr-3 dropdown-toggle" style="text-decoration: none;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <!--<span class="material-icons">topic</span> -->
                    <img src="../../assets/images/icons/62857-notebook-with-decorative-cover-icon.png" width="30px" alt="">
                    Users
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/alluser">Users</a>
                    <a class="dropdown-item" routerLink="/adduser">Add User</a>
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="text-light bg-custom1 p-1 mr-3" style="text-decoration: none;" routerLink="/get">
                    <!--<span class="material-icons">topic</span> -->
                    <img src="../../assets/images/icons/62862-orange-book-icon.png" width="30px" alt="">
                    Get all Books
                </a>
            </li>
            <li class="nav-item">
                <a class="text-light bg-custom1 p-1 mr-3" style="text-decoration: none;" routerLink="/add">
                    <!--<span class="material-icons">create_new_folder</span>-->
                    <img src="../../assets/images/icons/62860-green-book-icon.png" width="30px" alt="">
                    Add new Book
                </a>
            </li>
        </div>
    </div>
</nav>