<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button type="button" onclick="location.href='/'" class="btn btn-primary mr-4">Get all Books</button>
            <button type="button" onclick="location.href='/add'" class="btn btn-primary mr-4">Add new Book</button>
        </div>
    </div>
</nav>