<div class="container pt-3">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Book list</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 border shadow-sm p-3 mb-5 bg-white rounded">
            <table class="table">
                <thead class="thead-light">
                    <th>
                        <button style="width:100%;min-width: 120px;" class="btn btn-success" (click)="orderedTable('name')">
                            Name
                            <span *ngIf="ordered_item == 'name' && ordered_action == 'DESC'" class="material-icons">arrow_circle_up</span>
                            <span *ngIf="ordered_item == 'name' && ordered_action == 'ASC'" class="material-icons">arrow_circle_down</span>
                        </button>
                    </th>
                    <th>
                        <button style="width:100%;min-width: 120px;" class="btn btn-success" (click)="orderedTable('author')">
                            Author
                            <span *ngIf="ordered_item == 'author' && ordered_action == 'DESC'" class="material-icons">arrow_circle_up</span>
                            <span *ngIf="ordered_item == 'author' && ordered_action == 'ASC'" class="material-icons">arrow_circle_down</span>
                        </button>
                    </th>
                    <th>
                        <button style="width:100%;min-width: 120px;" class="btn btn-success" (click)="orderedTable('gender')">
                            Gender
                            <span *ngIf="ordered_item == 'gender' && ordered_action == 'DESC'" class="material-icons">arrow_circle_up</span>
                            <span *ngIf="ordered_item == 'gender' && ordered_action == 'ASC'" class="material-icons">arrow_circle_down</span>
                        </button>
                    </th>
                    <th>
                        <button style="width:100%;min-width: 120px;" class="btn btn-success">
                            Lended
                        </button>
                    </th>
                    <th></th>
                </thead>
                <tbody id="tbody-list">

                </tbody>
                <!--
                <tbody *ngFor="let book of books" id="tbody-list">
                    <tr>
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td>{{getGenderById(book.gender)}}</td>
                        <td><input id="{{book.id}}" type="text" class="form-control form-control-sm" value="{{book.lended}}"></td>
                        <td><button class="btn btn-success" (click)="lended(book.id)">Update</button></td>
                    </tr>
                </tbody>
            -->
            </table>
        </div>
        <div class="col-1"></div>
    </div>

</div>